@model Application.DTOs.Departments.DepartmentHierarchyDto

@{
    ViewData["Title"] = "Details";
}

<h1 class="h3 mb-0 text-gray-800">Hierarchical Tree Structure</h1>
<nav class="hierarchy">
    @foreach(var parent in Model.Parents)
    {
        @:<ul>
        @:    <li>
        @Html.ActionLink(parent.Name.ToString(), "Details", new { id = parent.Id })

    }
    <ul>
        <li>
            @Html.ActionLink(@Model.Department.Name, "Details", new { id = @Model.Department.Id })

            @if(Model.Children.Count() > 0)
            {
            <ul>
                @foreach(var child in Model.Children)
                {
                    <li>
                        @Html.ActionLink(child.Name.ToString(), "Details", new { id = child.Id })
                    </li>
                }
            </ul>
            }
        </li>
    </ul>
    @for(int i = 0; i < Model.Parents.Count; i++)
    {
        @:</li>
        @:</ul>
    }
</nav>
